@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.btn {
  // padding: $font-size13;
  height: 40px;
  font-size: 13px;
  color: #000;
  border-radius: 3px;
  text-align: center;
  &.wide {
    width: 100%;
  }
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
  }
  &.primary {
    background-color: #ff5c39;
    color: #fff;
    box-shadow: unset;
    outline: 0;
    font-weight: 500;
    border: solid 1px transparent;
    display: flex;
    justify-content: center;
    @media (max-width: 576px){
      width: 100%;
    }
    &:hover {
      background-color: #ff5c39;
      border: solid 1px transparent;
    }
    &:active {
      background-color: #ff5c39;
      outline: 0;
      box-shadow: none;
    }
  }
  &.secondary:hover,
  &.secondary {
    background: #fff;
    color: #fff;
  }
}

.boarding {
  height: 36px;
  padding: 0 15px 0 15px;
  border-radius: 3px;
  border: solid 1px #fff;
  background-color: rgba(255, 255, 255, 0);
  color: #fff !important;
  text-decoration: none;
  align-items: center;
  display: flex;
  &.sign-up {
    &:hover {
      background-color: transparent;
      border: solid 1px #fff;
      color: #fff !important;
    }
    &:active {
      background-color: transparent;
      outline: 0;
      box-shadow: none;
      color: #fff !important;
    }
  }
}
// button for card only 
.btn-primary{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border-radius: 30px;
  padding: 0 24px;
  border: 1px solid rgba(216, 216, 216, 0.3);
  text-transform: uppercase;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &.active{
      box-shadow: none;
      outline: 0;
      border: 1px solid rgba(216, 216, 216, 0.3) !important;
      color: rgb(255, 255, 255);
      background-color: rgb(31, 26, 24);
      border: transparent;
  }
  &:hover,
  &:focus,
  &:active {
      box-shadow: none;
      outline: 0;
      border: 1px solid rgba(216, 216, 216, 0.3) !important;
      color: rgb(255, 255, 255);
      background-color: rgb(31, 26, 24);
      border: transparent;
      &:focus{
          box-shadow: none;
      }
  }
  &.disabled,
  &:disabled {
      opacity: 0.5;
  }
}
.btn-secondary{
  font-size: 14px;
  font-weight: 400;
  color: #1f1a18;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 24px;
  border: none;
  text-transform: capitalize;
  height: 40px;
  &:hover,
  &:focus,
  &:active {
      box-shadow: none;
      outline: 0;
      background-color: #fff !important;
      color: #1f1a18;
      &:focus{
          box-shadow: none;
      }
  }
  &:disabled {
      opacity: 0.5;
      background-color: #fff !important;
      color: #1f1a18;
  }
}














$primary-color: #5344db;
$accent-color: #5344db;
$grey:#484848;
$bg-grey: #efefef;
$shadow: #949494;

.container-custom{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 80px 0 150px 0;
}

.row-custom{
  display: flex;
  gap: 20px;
}

.col-6-custom{
  width: 50%;
}

.single-product{
  width: 1080px;
  position: relative;
}
/** Breadcrumb **/

.single-product .breadcrumb{
  background: #48484810;
  padding: 8px 4px;
  border-radius: 8px;
  font-size: 15px;
}

.breadcrumb span{
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 8px;
}
.breadcrumb span:not(:last-child)::after{
  content: '/';
}

.breadcrumb span a{
  text-decoration: none;
  color: var(--primary-color);
}

/** product image **/

.single-product .product-image{
  width: 100%;
}

.product-image .product-image-main{
  position: relative;
  display: block;
  height: 480px;
  background: var(--bg-grey);
  padding: 10px;
  background-color: #f6f5f3;
}

.product-image-main img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-image-slider{
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.product-image-slider img{
  width: 90px;
  height: 90px;
  background: var(--bg-grey);
  padding: 6px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0px #007185;
  border-radius: 8px;
  border: 1px solid;
}

/** product title **/

.product-title{
  margin-top: 20px;

}
.product-title h2{
  font-size: 32px;
  line-height: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

/** product rating **/
.product-rating{
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
  align-items: center;
}

.product-rating span:not(:last-child){
  color: #ffc600;
}
.product-rating .review{
  color: var(--grey);
  font-size: 12px;
  font-weight: 500;
}
/** Product price **/
.product-price{
  display: flex;
  position: relative;
  margin: 10px 0;
  align-items: center;
}

.product-price .offer-price{
  font-size: 48px;
  font-weight: 700;
}
.product-price .sale-price{
  font-size: 22px;
  font-weight: 500;
  text-decoration: line-through;
  color: var(--grey);
  margin-left: 12px;
}

/** Product Details **/
.product-details{
  margin: 10px 0;
}
.product-details h3{
  font-size: 18px;
  font-weight: 500;
}
.product-details p{
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.2rem;
}

/** Product size **/
.product-size{
  margin: 10px 0;
}
.product-size h4{
  font-size: 16px;
  font-weight: 500;
}

.product-size .size-layout{
  margin: 5px 0;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.product-size .size-layout .size-input{
  display: none;
}
.product-size .size-layout .size{
  background: var(--bg-grey);
  padding: 10px 18px;
  border: 1px solid var(--bg-grey);
  border-radius: 4px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.product-size .size-layout .size:hover{
  border: 1px solid var(--grey);
}

.product-size .size-layout input[type="radio"]:checked + .size{
  background-color: rgb(35, 35, 35);
  border: 1px solid var(--grey);
  color: var(--bg-grey);
  box-shadow: 0 3px 6px var(--shadow);

}


/** Product Color **/
.product-color{
  margin: 10px 0;
  justify-content: center;
}
.product-color h4{
  font-size: 16px;
  font-weight: 500;
}
.product-color .color-layout{
  margin: 5px 0;
  display: flex;
  gap: 10px;
}

.product-color .color-layout label{
  border-radius: 4px;
  cursor: pointer;
  content: '';
  width: 40px;
  height: 40px;
  display: inline-block;
}

.product-color .color-layout .black{
  
  background-color: black;
}

.product-color .color-layout .red{
  background-color: red;
}
.product-color .color-layout .blue{
  background-color: blue;
}

.product-color .color-layout input[type="radio"]:checked + label{
  box-shadow: 0 3px 6px var(--shadow);
}

.product-color .color-layout .color-input{
  display: none;
}


/** divider **/
.divider{
  display: block;
  height: 1px;
  width: 100%;
  background: #48484830;
  margin: 20px 0;
}

/** product Button Group **/

.product-btn-group{
  display: flex;
  gap: 15px;
}
.product-btn-group .button{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 500;
  background-color: #bca362;
  border: 0;
  border-radius: 4px;
}
.product-btn-group .buy-now{
  background-color: var(--accent-color);
  color: #fff;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}

.product-btn-group .buy-now i{
  font-size: 20px;
}
.product-btn-group .buy-now:hover{
  box-shadow: 0 3px 6px var(--shadow);
}

.product-btn-group .add-cart{
  
  background-color: var(--bg-grey);
  color: var(--grey);
  border-radius: 4px;
  cursor: pointer;
}
.product-btn-group .add-cart i{
  font-size: 20px;
}
.product-btn-group .add-cart:hover{
  box-shadow: 0 3px 6px var(--shadow);
  background: var(--grey);
  color: #fff;
}
.product-btn-group .heart{
  color: var(--grey);
  cursor: pointer;
}
.product-btn-group .heart i{
  font-size: 20px;
}
.product-btn-group .heart:hover{
  color: var(--accent-color);
}
.check-pincode {
  input {
    font-size: 14px;
  }
}


/** Responsive Mobile **/
@media screen and (max-width:520px) {
  .container-custom{
      padding: 20px;
      height: auto;
  }
  .row-custom{
      display: block;
  }

  .col-6-custom{
      width: 100%;
      display: block;
  }
  .single-product{
      width: 100%;
      position: relative;
  }

  .product-image .product-image-main{
      width: 100%;
      height: 280px;
  }
  .product-image-slider{
      gap: 5px;
  }

  .breadcrumb{
      display: none;
  }

  .product-title h2{
      font-size: 24px;
      line-height: 1.6rem;
  }
  .product-size{
      display: block;
  }
  .product-size .size-layout{
      display: block;
      margin: 10px 0;

  }
  .product-size .size-layout .size{
      padding: 6px 10px;
  }
  .product-btn-group{
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
}

/** Responsive Tablet **/
@media (min-width: 520px ) and (max-width: 1080px) {
 .container-custom{
  display: block;
  height: auto;
  padding: 20px;
 }
  
}












$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;

.qty-input {
	color: $black;
	background: $white;
	display: flex;
	align-items: center;
	overflow: hidden;

	.product-qty,
	.qty-count {
		background: transparent;
		color: inherit;
		font-weight: bold;
		font-size: inherit;
		border: none;
		display: inline-block;
		min-width: 0;
		height: 2.5rem;
		line-height: 1;
		

		&:focus {
			outline: none;
		}
	}

	.product-qty {
		width: 50px;
		min-width: 0;
		display: inline-block;
		text-align: center;
		appearance: textfield;		
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}
	}

	.qty-count {
		padding: 0;
		cursor: pointer;
		width: 2.5rem;
		font-size: 1.25em;
		text-indent: -100px;
		overflow: hidden;
		position: relative;
		
		&:before, 
		&:after {
			content: "";
			height: 2px;
			width: 10px;
			position: absolute;
			display: block;
			background: $black;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		&--minus {
			border-right: 1px solid $smoke;
		}
		&--add {
			border-left: 1px solid $smoke;
			&:after {
				transform: rotate(90deg);
			}
		}
		
		&:disabled {
			color: $gray;
			background: $disable;
			cursor: not-allowed;
			border-color: transparent;
			
			&:before,
			&:after {
				background: $gray;
			}
		}
	}
}

.qty-input {
	border-radius: 4px;
  background-color: #f6f5f3;
  max-width: fit-content;
  margin: 20px 0;
}
